.ts-logo {
	border-radius: 50px;
}
.coupling-buttons {
	display: flex;
	justify-content: space-around;
}
.coupling-buttons button {
	border: black 1px solid !important;
}
.coupling-chart {
}

.hier_graph{
	margin-bottom: 50px;
}